[buildout]
develop = .
parts =
    plone
    zope2
    instance
	roadrunner
find-links =
    http://dist.plone.org
    http://download.zope.org/ppix/
    http://download.zope.org/distribution/
    http://effbot.org/downloads
eggs =
    elementtree
    plone.reload
	collective.blueprint.wikipedia
zcml =
    plone.reload
	collective.blueprint.wikipedia

[plone]
recipe = plone.recipe.plone

[zope2]
recipe = plone.recipe.zope2install
url = ${plone:zope2-url}

[instance]
recipe = plone.recipe.zope2instance
zope2-location = ${zope2:location}
user = admin:admin
http-address = 8080
debug-mode = on
verbose-security = on
eggs =
    ${buildout:eggs}
    ${plone:eggs}
zcml = 
    ${buildout:zcml}
products =
    ${plone:products}

[roadrunner]
recipe = roadrunner:plone
packages-under-test = 
    collective.blueprint.wikipedia

